<app-home></app-home>
<div class="profilePage"></div>
<div class="layout-content">
    <div class="layout-content-body">
        <div class="title-bar">

            <h1 class="title-bar-title">
              <span class="d-ib">Change Password </span>

            </h1>
            <p class="title-bar-description">
                <small>Welcome to Blind Drunk</small>
            </p>
        </div>

        <div class="row gutter-xs">


            <div class="col-md-8 card panel-body  " id="">
                <div class="col-sm-12 col-md-12">

                    <div class="demo-form-wrapper">
                        <form class="form form-horizontal">
                            <div class="form-group">
                                <div class="col-md-8">
                                        <p *ngIf="valid_error" style="color:green;">{{success_msg}}</p>
                                        <p *ngIf="invalid_error" style="color:red;">{{invalid_error_msg}}</p>
                                    <label for="" class=" control-label">Old Password</label>    
                                    <input id="" class="form-control" type="password" name="password" [(ngModel)]="change.old_password"  required (focus)="clean()">
                                    <p *ngIf="pass_error" style="color:red;">{{pass_error_msg}}</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-8">
                                    <label for="" class=" control-label">New Password</label>
                                    <input id="" class="form-control" type="password" name="password" [(ngModel)]="change.password"  required (focus)="clean()">
                                    <p *ngIf="pass_new_error" style="color:red;">{{pass_new_error_msg}}</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-8">
                                    <label for="" class=" control-label">Confirm Password</label>
                                    <input id="" class="form-control" type="password" name="password" [(ngModel)]="change.newmatch_password" required (focus)="clean()">
                                    <p *ngIf="pass_newmatch_error" style="color:red;">{{pass_newmatch_error_msg}}</p>
                                </div>
                            </div>
                          
                            <div class="form-group">
                                <div class=" col-sm-8  col-md-8 ">
                                    <button class="btn btn-primary btn-block " (click)="passchange()" type="submit">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>