<div class="accountPage PremiumUserListPage">
  <div class="layout-content">
      <div class="layout-content-body">
          <div class="title-bar">
              <h1 class="title-bar-title">
        <span class="d-ib">Premium User list</span>

      </h1>
          </div>
          <div class="row gutter-xs">
              <div class="col-xs-12">
                  <div class="card">
                      <div class="card-header">
                          <div class="card-actions">
                              <button type="button" class="card-action card-toggler" title="Collapse"></button>
                              <button type="button" class="card-action card-reload" title="Reload"></button>
                          </div>
                          <strong>Premium User list</strong>
                      </div>
                      <div class="card-body">
                          <table id="demo-datatables-responsive-2" class="table table-bordered table-striped table-nowrap dataTable" cellspacing="0" width="100%">
                              <thead>
                                  <tr>
                                      <th class="text-left">Owner name</th>
                                      <th class="text-left">Mobile</th>
                                      <th class="text-left">Email</th>
                                      <th class="text-left">Subscribe plan</th>
                                      <th class="text-left">Pet name</th>
                                      <th class="text-left">All detail</th>
                                      <th>Action</th>

                                  </tr>
                              </thead>
                              <tbody>
                                  <tr>
                                      <td class="text-left">Mohit</td>
                                      <td class="text-left">984745858</td>
                                      <td class="text-left">Mohit123@gmail.com</td>
                                      <td class="text-left">monthly</td>
                                      <td class="text-left">German</td>
                                      <td class="text-left">
                                      <a href="petDetail.php" class="btn btn-success btn-sm btn-labeled">
                                              <span class="btn-label"><span class="icon icon-info icon-lg icon-fw"></span></span>All detail
                                      </a>
                                      </td>
                                      <td class="text-center">
                                          <button class="btn btn-danger btn-sm btn-labeled" type="button">
                                              <span class="btn-label"><span class="icon icon-bank icon-lg icon-fw"></span></span>Block
                                          </button>
                                          <button class="btn btn-success btn-sm btn-labeled" type="button">
                                              <span class="btn-label"><span class="icon icon-check icon-lg icon-fw"></span></span>Un-Block
                                          </button>
                                         
                                      </td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>

      </div>
  </div>
</div>
